<ul>
  <li> <%= link_to 'Study Modes', study_modes_path %> </li>
  <li> <%= link_to 'Study Streams', streams_path %> </li>
  <li> <%= link_to 'Course Levels', course_levels_path %> </li>
  <li> <%= link_to 'Course Levels', course_types_path %> </li>
  <li> <%= link_to 'Institution Types', institution_types_path %> </li>
  <li> <%= link_to 'Ranking Authorities', ranking_authorities_path %> </li>
  <li> <%= link_to 'Certification Authority Types', cert_authority_types_path %> </li>
</ul>