<%= form_for(@study_mode) do |f| %>
  <% if @study_mode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@study_mode.errors.count, "error") %> prohibited this study_mode from being saved:</h2>

      <ul>
      <% @study_mode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
