<p id="notice"><%= notice %></p>

<h1>Listing Cert Authority Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cert_authority_types.each do |cert_authority_type| %>
      <tr>
        <td><%= cert_authority_type.name %></td>
        <td><%= link_to 'Show', cert_authority_type %></td>
        <td><%= link_to 'Edit', edit_cert_authority_type_path(cert_authority_type) %></td>
        <td><%= link_to 'Destroy', cert_authority_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cert authority type', new_cert_authority_type_path %>
